<% if @recipe.errors.any? %>
<div >
  <h4 class="alert alert-danger"><%= @recipe.errors.full_messages %></h4>
  <h4 class="alert alert-danger">Você deve informar todos os dados da receita</h4>
</div>
<% end %>

<div class="container padd">

  <div class="default-heading">
    <!-- Crown image -->
    <img class="img-responsive" src="/img/crown.png" alt="" />
    <!-- Heading -->
    <h2><%= main_title %></h2>
    <!-- Paragraph -->
    <p><%= sub_title %></p>
    <!-- Border -->
    <div class="border"></div>
  </div>

  <%= form_for @recipe do |f| %>  
  <div class="form-row align-items-center">
    <div class="form-group col-md-12">
      <%= f.label :title, "Título" %>
      <%= f.text_field :title, required: true, class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :recipe_type_id, "Tipo da Receita" %>
      <%= f.collection_select :recipe_type_id, @recipe_types, :id, :name, {},class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :cuisine_id, "Cozinha" %>
      <%= f.collection_select :cuisine_id, @cuisines, :id, :name, {}, class: "form-control" %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :difficulty, "Dificuldade" %>
      <%= f.text_field :difficulty, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :cook_time, "Tempo de Preparo" %>
      <%= f.number_field :cook_time, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :ingredients, "Ingredientes" %>
      <%= f.text_area :ingredients, required: true, class: "form-control"%>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :method, "Como Preparar" %> 
      <%= f.text_area :method, required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :photo, "Imagem da Receita" %>
      <%= f.file_field :photo, class: "form-control-file" %>
    </div>

    <div class="form-group col-md-2">
      <div class="form-check">
        <%= f.check_box :featured, class: "form-check-input" %>         
        <%= f.label :featured, "Destaque", class: "form-check-label" %>
        <%= image_tag '/img/star.png', size: '18', class: "star" %>
      </div>        
    </div>  

    <div class="col-md-2">
      <%= f.submit "Enviar", class: "btn btn-success" %>  
    </div>
  </div>  
  <% end %>
  <hr>

</div>