<div class="container">
  <div class="row">
    <%= render partial: "/partials/type_and_cuisine" %>
    <div class="col-md-5">
      <h1><%= image_tag '/images/star.png', size: "30", class: "star" if @recipe.featured? %><%= @recipe.title %></h1>

      <p>Enviado por: <%= @recipe.user.email %></p> 

      <%= link_to "Voltar", root_path, class: "btn btn-primary" %>

      <% if @recipe.editable_by? current_user %>

      <%= link_to "Editar", edit_recipe_path(@recipe), class: "btn btn-info" %>

      <%= link_to "Remover", @recipe, method: :delete, class: "btn btn-danger", data: { confirm: "Tem certeza que deseja remover #{@recipe.title}?" } %>  
      <% end %>         

      <h3>Detalhes</h3>

      <p>Tipo: <%= @recipe.recipe_type.name %></p>

      <p>Cozinha: <%= @recipe.cuisine.name %></p>

      <p>Dificuldade: <%= @recipe.difficulty %></p>

      <p>Tempo de preparo: <%= @recipe.cook_time %> minutos</p>
    </div>
    <div class="col-md-5">
      <%= image_tag @recipe.photo.url, class: "img-responsive" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">      
      <h3>Ingredientes</h3>

      <p><%= @recipe.ingredients %></p>

      <% if user_signed_in? %>
      <% if !current_user.favorited? @recipe %>       
      <h3><i class="fa fa-star" aria-hidden="true"></i><%= link_to " Salvar como favorita", favorite_recipe_path(@recipe), method: :post %></h3>        
      <% else %>
      <h3><i class="fa fa-star" aria-hidden="true"></i><%= link_to " Desfavoritar", unfavorite_recipe_path(@recipe), method: :delete %></h3>
      <% end %>
      <% end %>     

    </div>
    <div class="col-md-5">
      <h3>Como Preparar</h3>

      <p><%= @recipe.method %></p>

      <h3><i class="fa fa-envelope" aria-hidden="true"></i> Enviar para um amigo</h3>
      <div class="form-group">
        <%= form_tag(share_recipe_path, method: :post) do  %>
        <%= label_tag :email, 'Email' %>
        <%= text_field_tag :email, "", required: true, class: "form-control" %>
        <%= label_tag :message, 'Mensagem' %>
        <%= text_area_tag :message, "", class: "form-control" %>
        <br>
        <%= submit_tag 'Enviar', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>  
</div>