<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<%= form_for @user do |f| %>
<div>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name, required: true  %>
</div>
<div>
  <%= f.label :city, 'Cidade' %>
  <%= f.text_field :city, required: true  %>
</div>
<div>
  <%= f.label :email, 'E-mail' %>
  <%= f.text_field :email, required: true  %>
</div>
<div>
  <%= f.label :facebook, 'Facebook' %>
  <%= f.text_field :facebook  %>
</div>
<%= f.submit 'Enviar' %>
<% end %>