<div class="container padd">
  <!-- Default Heading -->
  <div class="default-heading">
    <!-- Crown image -->
    <img class="img-responsive" src="/img/crown.png" alt="" />

    <h2>Seu Perfil</h2>

    <p>Seus dados compartilhados com os outros usuários</p>

    <div class="border"></div>
  </div>
  <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Nome: <%= link_to @user.name, user_recipes_path(@user), class: "strong" %></h3>
          </div>
          <div class="panel-body">
            <p>Email: <%= @user.email %></p>
            <p>Cidade: <%= @user.city %></p>
            <p>Receitas cadastradas: <%= @user.recipes_quant %> </p>            
            <p>Facebook: /<%= @user.facebook %></p>
            <p>Twitter: /<%= @user.twitter %></p> 
          </div>          
        </div>      
      </div>  
  </div> 
</div>
