<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<p class="text-center">Bem-vindo ao maior livro de receitas online</p>
		</div>
		<%= render partial: "/partials/type_and_cuisine" %>		
		<div class="col-sm-12 col-md-5">
			<h2>Últimas Receitas</h2>
			<div class="row">
				<% @recipes.each do |recipe| %>
				<div class="col-sm-5 col-md-5">
					<img src="pizza.jpg" class="img-responsive">
				</div>
				<div class="col-sm-7 col-md-7">
					<span><%= link_to recipe.title, recipe_path(recipe.id) %></span>
					<ul>
						<li>Tipo: <%= recipe.recipe_type.name%></li>
						<li>Cozinha: <%= recipe.cuisine.name%></li>
						<li>Dificuldade<%= recipe.difficulty %></li>
						<li>Preparo: <%= recipe.cook_time %> minutos</li>
					</ul>
				</div>
				<% end %>
			</div>		
		</div>
		<div class="col-sm-12 col-md-5">
			<h2>Favoritas dos Usuários</h2>
			<span>TO DO</span>
		</div>		
	</div>
</div>
